# temporary files
*.swp
*.orig
*.local
*.lockone
.#*

# Configuration not in git
conf/admin.conf
conf/httpd.conf
conf/named.conf
conf/pf.conf
conf/*.lock
conf/*.lockonce
conf/log.conf.d/*.conf
conf/nessus/
conf/currently-at
bin/pfcmd
src/pfcmd
!conf/nessus/remotescan.nessus
conf/snort/emerging*.rules
conf/user.conf
conf/users/
db/pf-schema.sql
raddb/eap.conf
raddb/radiusd.conf
raddb/sql.conf
conf/templates/*
conf/adminroles.conf
conf/authentication.conf
conf/floating_network_device.conf
conf/guest-managers.conf
conf/log.conf
conf/chi.conf
conf/nessus/remotescan.nessus
conf/networks.conf
conf/radiusd/eap.conf
conf/radiusd/radiusd.conf
conf/radiusd/sql.conf
conf/snort/classification.config
conf/snort/local.rules
conf/snort/reference.config
conf/switches.conf
conf/httpd.conf.d/ssl-certificates.conf
conf/iptables.conf
conf/listener.msg
conf/mdm.conf
conf/popup.msg
conf/profiles.conf
conf/snmptrapd.conf
conf/snort.conf
conf/snort.conf.pre_snort-2.8
conf/suricata.yaml
conf/ui-global.conf
conf/violations.conf
html/captive-portal/captive_portal.conf
conf/pfdetect_remote.conf
conf/pfarp_remote.conf
conf/allowed-gaming-oui.txt


# translations
conf/locale/*/*/*.mo

# SSL certificates
conf/ssl/
raddb/certs/

# documentation build temporary artifacts
docs/*.pdf
docs/docbook/xsl/titlepage-fo.xsl
docs/docbook/*.docbook

# trap stats graphs
# TODO we should move them under var/
html/admin/traplog/

# built by package or installer
lib/pf/pfcmd/pfcmd_pregrammar.pm

# directories that can be ignored
logs/
var/
raddb/sites-enabled/

#debuild output
build-stamp
configure-stamp
debian/files
debian/packetfence-doc.debhelper.log
debian/packetfence-doc.substvars
debian/packetfence-doc/
debian/packetfence-pfcmd-suid.debhelper.log
debian/packetfence-pfcmd-suid.substvars
debian/packetfence-pfcmd-suid/
debian/packetfence-remote-arp-sensor.debhelper.log
debian/packetfence-remote-arp-sensor.postinst.debhelper
debian/packetfence-remote-arp-sensor.postrm.debhelper
debian/packetfence-remote-arp-sensor.prerm.debhelper
debian/packetfence-remote-arp-sensor.substvars
debian/packetfence-remote-arp-sensor/
debian/packetfence-remote-snort-sensor.debhelper.log
debian/packetfence-remote-snort-sensor.postinst.debhelper
debian/packetfence-remote-snort-sensor.postrm.debhelper
debian/packetfence-remote-snort-sensor.prerm.debhelper
debian/packetfence-remote-snort-sensor.substvars
debian/packetfence-remote-snort-sensor/
debian/packetfence-test.debhelper.log
debian/packetfence-test.substvars
debian/packetfence-test/
debian/packetfence.debhelper.log
debian/packetfence.logrotate
debian/packetfence.postinst.debhelper
debian/packetfence.postrm.debhelper
debian/packetfence.prerm.debhelper
debian/packetfence.substvars
debian/packetfence/

